html,
body {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    background: #E0E0E0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    width: 200px;
    background: #F5F5F5;
    border-radius: 8px;
    padding: 30px;
    margin: -175px 0px 0px -100px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.form.active {
    display: block;
}

.imageCreationForm form {
    height: 350px;
}

.imageResizeForm form,
.canvas.resizeForm form {
    height: 260px;
}
.formTitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.form .input {
    /* Блок с вводом данных */
    position: relative;
    margin-bottom: 20px;
}


.form .input input[type='number'] {
    /* Поле ввода чисел */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    padding: 8px 0px 8px 5px;
    /*border: none;
    border-bottom: 1px solid silver;*/
    outline: none;
    border-radius: 8px;
    border: 1px solid silver;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}


.form .input input[type='color'] {
    /* Палитра */
    width: 100%;
    margin-top: 5px;
    padding: 6px 0px 6px 0px;
    border-radius: 8px;
    border: 1px solid silver;
    background: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.form .input input:focus {
    border: 1px solid #FFB300;
}

.form .input input[type='number']:valid {
    background: #fff;
}

.form .input input[type='number']:invalid {
    background: #FFCDD2;
    border: 1px solid #E57373
}

.form button {
    padding: 10px, 20px;
    width: 90px;
    height: 34px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid silver;
    outline: none;
    border-radius: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background: #fff;
}

.form .button button:focus,
.form .button button:hover {
    background: #E0E0E0;
}

.form .buttonOk button {
    color: #fff;
    border: none;
    background: #FFB300;
}

.form .buttonOk button:focus,
.form .buttonOk button:hover {
    background: #FFCA28;
}

.form .disabledButton {
    background: #FFCA28;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

/* Рабочая область */

.workspace {
    display: block;
    position: absolute;
    overflow: auto;
    top: 40px;
    left: 60px;
    bottom: 40px;
    right: 220px;
    background-color: #F5F5F5;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.topLeftCorner {
    border-top-left-radius: 0px;
}

.canvasArea {
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100%;
}

/* Холст */
.canvas {
    position: absolute;
    display: block;
    border: 1px solid #E0E0E0;
}

/* Меню */

.menuBar {
    position: absolute;
    margin: 0px;
    left: 60px;
    height: 40px;
}


.menu {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.menuTitle {
    position: relative;
    padding: 11px 12px;
    text-align: center;
    z-index: 1;
}

.menuTitle:hover {
    background: #F5F5F5;
}

.menuList {
    position: absolute;
    white-space: nowrap;
    padding: 1px 0px;
    background: #fff;
    border-radius: 0px 8px 8px 8px;
    padding: 8px 0px;
}

.menu .menuList {
    display: none;
}

.menu.active {
    border-radius: 0px 0px 8px 8px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.menu.active .menuList {
    display: block;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.menu.active .menuTitle {
    background: #fff;
    display: block;
}

.menuItem {
    margin: 0px 0px;
    padding: 8px 24px;
}

.menuItem:hover,
.menuItem:focus {
    background: #FFECB3;
}


/* Панель инструментов (слева) */
.toolPanel {
    position: absolute;
    top: 40px;
    width: 60px;
    text-align: center;
}

.toolPanel .button {
    position: relative;
    display: block;
    padding: 12px;
}

.toolButton {
    border: none;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-color: #e0e0e0;
    outline: none;
}

.toolPanel .button:hover,
.toolPanel .button.active {
    background: #f5f5f5;
}

.toolPanel .button:hover .toolButton,
.toolPanel .button.active .toolButton {
    background-color: #f5f5f5;
}

/* Панель инструментов справа */

.rightPanel {
    position: absolute;
    right: 0px;
    width: 220px;
    top: 40px;
    bottom: 60px;
    overflow: hidden;
}

.rightPanel .palette {
    position: relative;
    margin: 0px 12px 12px 12px;
}

.currentColors .colorPicker {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    border-radius: 8px;
}

.currentColors .colorPicker:hover,
.currentColors .colorPicker.active {
    border-color: #FFB300;
}

.currentColors .colorPicker.active {
    border-width: 2px;
}

.currentColors .button {
    position: absolute;
    display: inline-block;
}

.currentColors .button .toolButton {
    display: block;
    margin-bottom: 8px;
    padding: 0px;
    width: 16px;
    height: 16px;
}

.currentColors .button .toolButton:hover {
    width: 18px;
    height: 18px;
}

.rightPanel .section {
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0px 12px 12px 12px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.rightPanel .preferences {
    padding: 16px;
}

/* Панель снизу */

.bottomPanel {
    position: absolute;
    bottom: 0px;
    height: 40px;
    right: 220px;
    overflow: hidden;
}

.bottomPanel .zoom {
    padding: 12px;
}


/* Скроллбар */

* {
    scrollbar-color: #FFB300 transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #FFB300;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFCA28;
}

::-webkit-scrollbar-corner {
    background: transparent;
}